// Brushwell
@font-face {
	font-family: 'Brushwell';
	src: url('fonts/Brushwell/Brushwell.eot');
	src: url('fonts/Brushwell/Brushwell.woff') format('woff'), url('fonts/Brushwell/Brushwell.ttf') format('truetype'), url('fonts/Brushwell/Brushwell.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// // LouisGeorgeCafe
@font-face {
	font-family: 'LouisGeorgeCafe';
	src: url('fonts/LouisGeorgeCafe/LouisGeorgeCafe.eot');
	src: url('fonts/LouisGeorgeCafe/LouisGeorgeCafe.woff') format('woff'), url('fonts/LouisGeorgeCafe.ttf') format('truetype'), url('fonts/LouisGeorgeCafe.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// // RedVelvet-Regular'
@font-face {
	font-family: 'RedVelvet';
	src: url('fonts/RedVelvet/RedVelvet-Regular.eot');
	src: url('fonts/RedVelvet/RedVelvet-Regular.woff') format('woff'), url('fonts/RedVelvet-Regular.ttf') format('truetype'), url('fonts/RedVelvet-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



