// импорт обнуления стилей
@import "nullstyle.scss";
// импорт шрифтов
@import "fonts.scss";
// импорт готовых классов
@import "clasess.scss";

html {
	font-size: 15px;
}
body {
	margin: 0;
	font-size: 1rem;
	color: $black;
}
// container 
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}





// Sections
@import "sections/header.scss";
@import "sections/about.scss";
@import "sections/portfolio.scss";
@import "sections/gallery.scss";
@import "sections/video.scss";
@import "sections/testimonials.scss";
@import "sections/contact.scss";
@import "sections/footer.scss";